<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">
<form class="form-signin" action="dashboard.html" th:action="@{/user/register}" method="post">
    <img class="mb-4" th:src="@{/asserts/img/bootstrap-solid.svg}" src="asserts/img/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal" >用户注册</h1>
<!--    <b style="font-size: 15px;">用户名5</b>-->
    <!--判断-->
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>

<!--    <div class="form-group">-->
<!--        <label for="user" stype="display:inline;">账户：</label>-->
<!--        <input type="text" class="form-control" id="user" style="display:inline;width:300px;" autocomplete="off" />-->
<!--    </div>-->

    <label class="sr-only" >用户名</label>
    <input type="text"  name="username" class="form-control" placeholder="用户名"  required="" autofocus="">
    <label class="sr-only" >密码</label>
    <input type="password" name="password" class="form-control" placeholder="密码"  required="">
    <label class="sr-only" >确认密码</label>
    <input type="password" name="repassword" class="form-control" placeholder="确认密码"  required="">
    <label class="sr-only" >手机号码</label>
    <input type="password" name="phone" class="form-control" placeholder="手机号码"  required="">
    <label class="sr-only" >密码找回时问题</label>
    <input type="password" name="question" class="form-control" placeholder="密码找回时问题"  required="">
    <label class="sr-only" >问题的答案</label>
    <input type="password" name="question" class="form-control" placeholder="问题的答案"  required="">

    <button class="btn btn-lg btn-primary btn-block" type="submit" >注册</button>
    
    <p class="mt-5 mb-3 text-muted">© 2019-2019</p>
    <a class="btn btn-sm" >中文</a>

</form>
</body>

</html>